@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
*{
  margin: 0;
  padding: 0;
}
body {
  
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
	width: 90%;
	margin: 0 auto;
  height: 90%;
}

header {
  background: #2788ff;

}
header img{
margin-top: 0px;
 width: 5%;
 height: 5%;
 align-items:center;
 justify-content: center;
 float:left;
}
header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}
nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  align-items: center;
  justify-content: center;
}

nav li {
  padding:0px; 
  display: inline-block;
  margin-left: 7%;
  position: relative;
  

}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}


nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
h1{
  text-align: center;
  
}
#marta,#medalla{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 25px;
  margin: 5px;
  margin-top: 30px;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.clases h2{
  font-family: 'Raleway';
  text-align: center;
}
.clases p,a{
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}
.clases img,.medal img{
  width: 100%;
  height: 50%;
}
.clases img:hover{
  animation: all ease-in-out 5s;
  transform: translateX(6px);
}

#alumnos{
  grid-gap: 25px;
  margin-top: 30px;
  width: 100%;
  background-color: ;
  color: rgb(0, 0, 0);
  border-radius: 5px;
}
#alumnos p{
  text-align: justify;
  margin-top: 30px;
  color: white;
  font-weight: bold;
}
table{
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffffe0;
  border-radius: 25px;
  border-collapse: collapse;
  width: 97%;

}
thead{
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.25em;
  background-color: #30336b;
}
th{
  text-align: center;
}
td{
  text-align: center;
  color: #000000;
  font-weight: bold;
  border: 2px solid black;
  background-color: #dadcff;;
}
ol{
  position: relative;
  padding: 10px;
  margin-left: auto;
  background-color: #d8e3e7;
  color:black;
  font-size: 1.25em;
  font-weight: bolder;
}
#medalla .hijo{
  list-style:upper-latin;
  padding: 10px 10px;
  background-color: #51c4d3;
  font-weight: normal;
  font-size: 1em;
}
#medalla .hijo:hover{
  background-color: white;
  transform: scale(1.1);
  transition: ease-in-out 1s;
}
#medalla .hijo:before{

  transition: ease-in-out 1s;
}

/*F O O T E R*/
footer{
    background-color: #2788ff;
    color: white;
    text-align: center;
    font-family: 'Raleway';
    padding: 2em;
}

.telefonoF, .facebookF, .twitterF, .youtubeF{
    color: white;
    text-decoration: none;
}

.telefonoF:hover, .facebookF:hover, .twitterF:hover, .youtubeF:hover{
    text-decoration: underline;
}

@media( max-width: 900px ){
    footer{
        display: flex;
        flex-direction: column;
    }
}